<!DOCTYPE kpartgui SYSTEM "kpartgui.dtd">

<kpartgui name="KNotes" version="393">

<Menu name="note_context" noMerge="1">
    <Action name="fred"/>
    <Action name="insert_date"/>
    <Action name="set_alarm"/>
    <Action name="send_note"/>
    <Action name="mail_note"/>
    <Action name="print_note"/>
    <Action name="save_note"/>
    <Action name="configure_note"/>
    <Separator/>
    <Action name="new_note"/>
    <Action name="rename_note"/>
    <Action name="lock_note"/>
    <Action name="hide_note"/>
    <Action name="delete_note"/>
    <Separator/>
    <Action name="to_desktop"/>
    <Action name="keep_above"/>
    <Action name="keep_below"/>
</Menu>

<ToolBar name="note_tool">
    <Action name="delete_note"/>
</ToolBar>

</kpartgui>
